@model IEnumerable<Wembsite.Models.UserContent>

@using Wembsite.Models
@{
    Layout = null;
}

@foreach (var item in Model)
{
    <div class="card" style="background-color:rgb(30, 30, 30);text-indent:5px; text-align:left; margin:20px 20px 20px 20px; padding:20px 20px 20px 20px">

        @Html.ActionLink(item.username, "../AllUsers/NonSessionUserProfile", new { username = item.username })<br />
        <text style="font-size: smaller">@item.privacy       @item.DateCreation</text>
        <br />
        <text style="text-indent:50px; font-family:Arial;-webkit-text-stroke:thin;-webkit-text-stroke-color:black;color:rgb(158, 158, 158);font-size:medium">
            @item.RawData
        </text>
        <br />
        @if (item.filePath != "")
        {
            <div class="comment" style="text-align:center">
                <img src="@item.filePath" style="display:inline-block; width:400px; height:400px; padding:20px 20px 20px 20px; object-fit:scale-down" ; />
            </div>
        }
        <br />
        <div id="@item.contentID.ToString()">
            @{
                Html.RenderPartial("_NSULikesPartialView", item);
            }
        </div>
        @Ajax.ActionLink("Liked By", "../UserHome/GetLikeList",
                         new { contentID = item.contentID },
                          new AjaxOptions()
                          {
                              UpdateTargetId = item.contentID.ToString() + "likeList",
                              InsertionMode = InsertionMode.Replace,
                              HttpMethod = "Post"
                          })
        @{
            var id = @item.contentID.ToString() + "likeList";
        }
        <div id="@id" class="comment" style="background-color:rgb(60, 60, 60)">
            @*@{
                User usr = CRUD.getUser(item.username);
                Html.RenderPartial("_LikeListPartialView", usr);
            }*@
        </div>

        <text>Comments:<br /></text>
        @{
            var id2 = @item.contentID.ToString() + "commentList";
        }

        <div id="@id2" class="comment" style="background-color:rgb(60, 60, 60)">
            @{
                Html.RenderPartial("_Comment", CRUD.GetCommentsOfAPost(item.contentID), new ViewDataDictionary { { "ContentID", item.contentID.ToString() } });
            }
        </div>
        @using (Ajax.BeginForm("AddComment", "UserHome", new { contentID = id2 }, new AjaxOptions
        {
            HttpMethod = "post",
            UpdateTargetId = id2,
            InsertionMode = InsertionMode.Replace,
        }
        ))
        {
            <input class="searchBox" id="commentText" name="commentText" value="" placeholder="Write a comment..." />
            <input class="button" type="submit" value="Post Comment" />
        }

    </div>


}