@model IEnumerable<Wembsite.Models.UserContent>
@using Wembsite.Models;

@{
    ViewBag.Title = "Home Page";
}

@{
    var count = 0;
}
<body>
    <h2 style="position: relative;
            animation: mymoveh2 0.6s normal;color:white">
        Home Page
    </h2>
    <link href="../../Content/material.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @{
        var time = "";
        var x = 0.0;
    }
    @foreach (var item in Model)
    {
        count++;
        time = x.ToString() + "s";
        x += 0.1;
        <div class="card_with_buttons" style="animation-fill-mode:both; position: relative;
            animation: mymove 0.6s normal; margin: 20px 20px 20px 20px; padding: 20px 20px 20px 20px;
            animation-delay:@time;">
            @Html.ActionLink(item.username, "../AllUsers/NonSessionUserProfile", new { username = item.username })
            <br />
            <label style="color:white;font-size:smaller">@item.privacy       @item.DateCreation</label>
            <br />
            <label style="color: white; font-family: Arial; text-indent: 10px; font-size: large">
                @item.RawData
            </label>
            <br />
            @if (item.filePath != "")
            {
                <div class="comment" style="text-align:center">
                    <img src="@item.filePath" style="display:inline-block; width:400px; height:400px; padding:20px 20px 20px 20px; object-fit:scale-down" ; />
                </div>
            }
            <br />

            <div id="@item.contentID.ToString()">
                @{
                    Html.RenderPartial("_LikesPartialView", item);
                }
            </div>
            @Ajax.ActionLink("Liked By", "GetLikeList",
                             new { contentID = item.contentID },
                              new AjaxOptions()
                              {
                                  UpdateTargetId = item.contentID.ToString() + "likeList",
                                  InsertionMode = InsertionMode.Replace,
                                  HttpMethod = "Post"
                              })
            @{
                var id = @item.contentID.ToString() + "likeList";
            }
            <div id="@id" class="comment" style="min-width:0%; min-height:0%"></div>
            @*<hr />*@
            <text>Comments:<br /></text>
            @{
                var id2 = @item.contentID.ToString() + "commentList";
            }

            <div id="@id2" class="comment">
                @{
                    Html.RenderPartial("_Comment", CRUD.GetCommentsOfAPost(item.contentID), new ViewDataDictionary { { "ContentID", item.contentID.ToString() } });
                }
            </div>
            @using (Ajax.BeginForm("AddComment", "UserHome", new { contentID = id2 }, new AjaxOptions
            {
                HttpMethod = "post",
                UpdateTargetId = id2,
                OnComplete = "resetValues",
                InsertionMode = InsertionMode.Replace,
            }
            ))
            {
                var spID = count.ToString() + "input";
                <input autocomplete="off" class="searchBox" style="color:white; border-color:rgb(46,46,46); padding-left:10px; background-color:rgb(100, 100, 100);" id="@spID" name="commentText" value="" placeholder="Write a comment..." />
                <input type="submit" class="button" value="Post Comment" />
            }
        </div>
        @*<hr />*@
    }

    <button onclick="location.href='@Url.Action("Profile") ';return false;" class="tile" style="display:inline-block;width:140px; height:50px"><i class="material-icons" style="display:block">person</i>Back to Profile</button>

    <style>
        @@keyframes mymove {
            from {
                left: 2500px;
            }

            to {
                left: 0px;
            }
        }

        @@keyframes mymoveh2 {
            from {
                right: 2500px;
            }

            to {
                right: 0px;
            }
        }
    </style>

    <script>
        function resetValues() {
            for (var i = 1; i <=@count; ++i)
            {
                var str = i.toString() + "input";
                if (document.getElementById(str)!= null)
                document.getElementById(str).value = "";
            }
        }
    </script>

</body>



