@model Wembsite.Models.User

@{
    ViewBag.Title = "Profile";
}

<h2>Profile</h2>
<link href="../../Content/LoginStyles.css" rel="stylesheet" type="text/css" />

<div>
    <form method="post" action="../UserHome/Search">
        <input type="text" name="searchText" style="height:30px" placeholder="Search for Wembsiters..." />
        <button type="submit" style="width:70px; height:50px">Search</button>
    </form>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Name: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname) @Html.DisplayFor(model => model.lastname)
        </dd>

        <dt>
            Email: 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.username }) |
        @Html.ActionLink("Back to List", "Index")*@
    @Html.ActionLink("Homepage", "HomePage")<br />
    @Html.ActionLink("Create a New Post", "CreateNewPost")<br />
    @Html.ActionLink("View All My Posts", "AllPosts")<br />
    @Html.ActionLink("View all Wembsiters", "../AllUsers/Index")<br />
    @Html.ActionLink("Follow Requests", "FollowRequests", new { username = Model.username })<br />
    @Html.ActionLink("Followers", "Followers", new { username = Model.username })<br />
    @Html.ActionLink("Following", "Following", new { username = Model.username })<br />
    @Html.ActionLink("Log out", "LogoutUser")<br/>



</p>

