@model Wembsite.Models.User

@{
    ViewBag.Title = "Profile";
}

@{
    var time = "";
    var inc = 0.0;
}
<body class="prof">
    <div style="display:flex; flex-direction:column; align-items:center">
        <h2 style="color:white">Profile</h2>
        <link href="../../Content/material.css" rel="stylesheet" type="text/css" />
        @{ time = inc.ToString() + "s"; inc += 0.2;}
        <div class="card" style="        position: relative;
        animation: mymove 1s normal;
        padding-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 60%;
        max-width: 60%">
            <form method="post" action="../UserHome/Search">
                <input class="searchBox" style="color:white; border-color:rgb(46,46,46); padding-left:10px; background-color:rgb(100, 100, 100); height:30px; width:300px" type="text" name="searchText" placeholder="Search for Wembsiters..." />
                <button style="margin-top:30px" type="submit">Search</button>
            </form>
        </div>
        @{ time = inc.ToString() + "s"; inc += 0.2;}
        <div class="card" style="        position: relative;
        animation: mymove2 1s normal; animation-delay:@time; animation-fill-mode:both;        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0px;
        min-width: 60%;
        max-width: 60%
">
            <br />
            <label style="color: mediumpurple">Username:<label style="color:white">@Model.username</label> </label>
            <label style="color:mediumpurple">Name:<label style="color:white">@Model.firstname @Model.lastname</label> </label>
            <label style="color:mediumpurple">Email: <label style="color:white">@Model.email</label><br /></label>


        </div>

        @{ time = inc.ToString() + "s"; inc += 0.1;}
        <p>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <div id="myCard" class="card_with_buttons" style="position: relative;
            animation: mymove3 1.2s normal; animation-fill-mode:both;
            padding-top:0px; padding-left:15px; max-width:60%;animation-delay:@time">
                <br />
                <div class="flex-container" style="padding:0px 40px 10px 30px; animation-fill-mode:both">
                    <button onclick="location.href='@Url.Action("Homepage") ';return false;" class="tile" style="animation: mymoveTILESL 2s normal ;margin-left:10px; margin-right:10px; display:inline-block; width:100px; height:80px"><i class="material-icons" style="display:block">home</i>Home</button>
                    <button onclick="location.href='@Url.Action("CreateNewPost") ';return false;" class="tile" style="animation: mymoveTILESL 2.05s normal ;margin-left:10px; margin-right:10px;display:inline-block;width:100px; height:80px"><i class="material-icons" style="display:block">add</i>Create</button>
                    <button onclick="location.href='@Url.Action("AllPosts") ';return false;" class="tile" style="animation: mymoveTILESR 2.1s normal ;margin-left:10px; margin-right:10px;display:inline-block;width:100px; height:80px"><i class="material-icons" style="display:block">dashboard</i>My Posts</button>
                    <button onclick="location.href='@Url.Action("../AllUsers/Index") ';return false;" class="tile" style="animation: mymoveTILESR 2.15s normal ;margin-left:10px; margin-right:10px;display:inline-block;width:100px; height:80px"><i class="material-icons" style="display:block">people</i>People</button>
                    @if (Wembsite.Models.CRUD.NewRequests(Session["username"].ToString()) == true)
                    {
                        <button class="greenBtn" onclick="location.href='@Url.Action("FollowRequests") ';return false;" style="animation:mymoveTILESL 2.2s normal; margin-left:10px; margin-right:10px;display:inline-block;width:100px; height:80px"><i class="material-icons" style="display:block">person_add</i>Requests</button>
                    }
                    else
                    {
                        <button onclick="location.href='@Url.Action("FollowRequests") ';return false;" style="animation:mymoveTILESL 2.2s normal; margin-left:10px; margin-right:10px;display:inline-block;width:100px; height:80px"><i class="material-icons" style="display:block">person_add</i>Requests</button>
                    }
                    <button onclick="location.href='@Url.Action("Following") ';return false;" class="tile" style="animation:mymoveTILESL 2.25s normal;margin-left: 10px;margin-right: 10px;display: inline-block;width: 100px;height: 80px"><i class="material-icons" style="display:block">check_box</i>Following</button>
                    <button onclick="location.href='@Url.Action("Followers") ';return false;" class="tile" style="animation:mymoveTILESR 2.3s normal; margin-left: 10px; margin-right: 10px; display: inline-block; width: 100px; height: 80px"><i class="material-icons" style="display:block">contactless</i>Followers</button>
                    <button onclick="location.href='@Url.Action("LogoutUser") ';return false;" class="tile" style="animation:mymoveTILESR 2.35s normal; margin-left:10px; margin-right:10px;display:inline-block;width:100px; height:80px"><i class="material-icons" style="display:block">exit_to_app</i>Log Out</button>
                </div>
            </div>
        </p>



    </div>
</body>
<style>
    /*div.flex-container {
                position: relative;
                animation: mymove 1s normal;
            }*/

    h2 {
        position: relative;
        animation: mymoveBottom 0.5s normal;
    }

    @@keyframes mymoveBottom {
        from {
            bottom: -500px;
        }

        to {
            bottom: 0px;
        }
    }

    @@keyframes mymove {
        from {
            left: 800px;
        }

        to {
            left: 0px;
        }
    }

    @@keyframes mymove2 {
        from {
            right: 2000px;
        }

        to {
            right: 0px;
        }
    }

    @@keyframes mymove3 {
        0% {
            top: -5000px;
        }

        65% {
            top: 5px;
        }

        80% {
            top: -20px;
        }

        100% {
            top: 0px;
        }
    }

    @@keyframes mymoveTILESL {
        from {
            left: 5000px;
        }

        100% {
            left: 0px;
        }
    }
    @@keyframes mymoveTILESR {
        from {
            right: 5000px;
        }

        100% {
            right: 0px;
        }
    }
</style>


