@model IEnumerable<Wembsite.Models.User>
@using Wembsite.Models;

@{
    ViewBag.Title = "All Wembsiters";
}

<h2 style="color:white">All Wembsiters</h2>
<link href="../../Content/material.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div class="card" style="animation-fill-mode:both; padding:20px 20px 20px 20px">
    @{ var time = "0.5s";
        var x = 0.0;
    }
    @foreach (var item in Model)
    {
        x += 0.3;
        time = x.ToString() + "s";
        <div class="card" style="position: relative;
            animation: mymoveFromRight 1s normal;animation-fill-mode:both; background-color:rgb(46, 46, 46);padding:0px 20px 20px 20px;
            animation-delay:@time ;">
            <br />
            <label style="color: mediumpurple">Username: </label>
            @Html.ActionLink(item.username, "NonSessionUserProfile", new { username = item.username })
            <br />
            <label style="color: mediumpurple">Name: </label>
            <label style="color:white">@item.firstname @item.lastname </label><br />
            <label style="color: mediumpurple">Email: </label>
            <label style="color:navajowhite">@item.email </label><br />
            @if (Session["username"] != null && CRUD.RequestSent(Session["username"].ToString(), item.username) == true)
            {
                @Html.ActionLink("Cancel Request", "../UserHome/CancelFollowRequest", new { usernameB = item.username, source = "../AllUSers/Index" });
            }

            else if (Session["username"] != null && CRUD.IsFollowing(Session["username"].ToString(), item.username))
            {
                @Html.ActionLink("Unfollow User", "../UserHome/DeleteFollower", new { followee = item.username, source = "../AllUSers/Index" });
            }

            else if (Session["username"] != null && item.username != Session["username"].ToString())
            {
                @Html.ActionLink("Follow User", "../UserHome/SendFollowRequest", new { usernameB = item.username, source = "../AllUSers/Index" })
            }
        </div>
    }

</div>

<button onclick="location.href='@Url.Action("../UserHome/Profile") ';return false;" class="tile" style="display:inline-block;width:140px; height:50px"><i class="material-icons" style="display:block">person</i>Back to Profile</button>

