@model Wembsite.Models.User
@using Wembsite.Models

@{
    ViewBag.Title = "Wembsite";
}

<h2>@Model.username</h2>
<link href="../../Content/LoginStyles.css" rel="stylesheet" type="text/css" />

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.firstname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastname)
        </dd>

    </dl>
</div>
<div>
    @{
        if (CRUD.RequestSent(Session["username"].ToString(), Model.username) == true)
        {
            @Html.ActionLink("Cancel Request", "../UserHome/CancelFollowRequest", new { usernameB = Model.username, source = "../AllUsers/NonSessionUserProfile"});
        }

        else if (CRUD.IsFollowing(Session["username"].ToString(), Model.username))
        {
            @Html.ActionLink("Unfollow User", "../UserHome/DeleteFollower", new { followee = Model.username, source = "../AllUsers/NonSessionUserProfile" });
        }

        else if (Model.username != Session["username"].ToString())
        {
            @Html.ActionLink("Follow User", "../UserHome/SendFollowRequest", new { usernameB = Model.username, source = "../AllUsers/NonSessionUserProfile" })
        }
        
        <br />
        Html.RenderPartial("_NonSessionUserPosts", CRUD.getNonSessionUserPosts(Model.username, Session["username"].ToString()));
    }
</div>
